@import "../../../pages/variables";

.heroContainer{
    display: flex;
    justify-content: center;

}

.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 70%;
}

.imageHero{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.greenWolox{
    color: $greenWolox;
}

.hh1{
    text-align: start;
    width: 70%;
    font-size: $h2Size;
    margin-top: -40px;
}
