@import "../../../pages/variables";

.heroContainer{
    display: flex;
    justify-content: center;
}

.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 80%;
}


.greenWolox{
    color: $greenWolox;
}

.hh1{
    text-align: start;
    width: 70%;
    font-size: $h2Size;
    margin-top: -40px
}

.putImage{
    background-image: url('../../../assets/ImgHero/Ic_ilustra_Hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scaleX(-1);

    height: 400px;
    width: 400px;
}