@import "../../../pages/variables";

.heroContainer{
    display: flex;
    justify-content: center;
}

.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 70%;
}

.imageHero{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.greenWolox{
    color: $greenWolox;
}

.hh1{
    text-align: start;
    width: 70%;
    font-size: $h2Size;
    margin-top: -40px;
}

/* Mobile Screen */
  @media (max-width: $mobile) {
    .hero {
      width: 90%;
      flex-direction: column;
    }

    .hh1{
        text-align: center;
        width: 100%;
    }
  }

  /* Mudium Screen */
  
  @media (min-width: $tablet) {
    .hero {
      width: 90%;
    }
  }
  
  /* Large Screen */
  
  @media (min-width: $large) {
    .hero {
      width: 1170px;
    }
  }