  .center {
    margin: auto;
  }
  
  .card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 380px;
    min-height: 50px;
    background-color: #fff;
    padding: 40px;
    border-radius: 0.5rem;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;

    .image {
      width: 60%;
      border: solid 8px #eaeaea;
      border-radius: 50%;
      margin: 0 auto;
    }
    
    .title {
      margin: 0.6rem 0 0 0;
      text-align: center;
      font-family: Heebo, Helvetica, sans-serif;
    }
    
    .subtitle {
      margin-top: 0;
      text-align: center;
      font-family: Heebo, Helvetica, sans-serif;
      font-weight: 300
    }
  }
  
  .detailsContainer {
    display: flex;
    justify-content: space-between;
    color: #333;
    margin-top: 1rem;

    .property {
        display: flex;
        flex-direction: column;
        font-size: large;
        font-weight: bold;

    }

    .nameProperty {
        color: #FE4E86;
        font-weight: normal;
    }


  }