// body{
//   width: 100% !important;
//   display: flex;
//   margin: 0px;
// }

.landingContainer {
  width: 100%;
}

.navBarHero {
  background-image: url("../assets/Backgrounds/Bg_Header.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
}

.line {
  clear: both;
  margin-bottom: 0px;
  border: 0;
  width: 70%;
  height: 6px;
  background-image: linear-gradient(to right, white, transparent, white),
    linear-gradient(transparent, rgba(26, 26, 26, 0.55) 150%);
  background-image: -moz-linear-gradient(to right, white, transparent, white),
    -webkit-linear-gradient(transparent, rgba(26, 26, 26, 0.55) 150%);
  background-image: -ms-linear-gradient(to right, white, transparent, white),
    -webkit-linear-gradient(transparent, rgba(26, 26, 26, 0.55) 150%);
}
