@import "../../../pages/variables";

.heroContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 50px 0px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  width: 70%;
  background-color: #f2f5fa;
}

.leftSide {
  background-image: url("../../../assets/img_woloxer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 60%;
  height: 400px;
}

.rightSide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40%;
  height: 100%;
}

.twitterBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 10px;
}

.twitterText {
  color: white;
}

.imageTwitter {
  width: 40px;
  margin-right: 10px;
}

.greenWolox {
  color: $greenWolox;
}

.blueWolox {
  color: $blueWolox;
}

.followTwitter {
  margin-top: 40px;
  padding: 10px 5px;
  font-size: 25px;
  padding: 10px 70px;

  border-radius: 50px;
  border: 2px solid $blueWolox !important;
  cursor: pointer;
  color: $blueWolox !important;
  color: #fff !important;
  background-color: transparent;

  &:hover {
    transform: scale(1.1);
  }
}

.hh1 {
  display: flex;
  font-size: $h1Size;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Fira Sans Bold", "Fira Sans Light" !important;
}

.hh2 {
  font-size: 40px;
  font-family: "Montserrat Regular", "Fira Sans Light";

}

.boldText{
  font-family: "Montserrat Bold", "Fira Sans Light";
}

/* Mobile Screen */
@media (max-width: $mobile) {
  .heroContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 50px 0px;
  }

  .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }

  .leftSide {
    width: 100%;
  }


  

  .followTwitter {
    margin: 40px 0px;
    padding: 10px 5px;
    font-size: $h5Size;
    padding: 10px 70px;
  
  }

}

/* Mudium Screen */

@media (min-width: $tablet) {
  .heroContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 50px 0px;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }

  .leftSide {
    width: 100%;
  }

  .rightSide {
    width: 100%;
    .hh2 {
      width: 70%;
      font-size: 40px;
    }
  }
}

// Intermedio para texto 350+woloxers

/* Large Screen */

@media (min-width: $large) {
  .heroContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 50px 0px;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    width: 70%;
    background-color: #f2f5fa;
  }
}
