@import "../../../pages/variables";

.center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.colorWolox {
  color: $blueWolox;
}

.colorDefault {
  color: $colorTextWolox;
}

.column {
  display: flex;
  flex-direction: column;
}

.more {
  border-radius: 50px;
  padding: 10px 50px;
  border: 2px solid $blueWolox;
  background-color: $blueWolox;
  color: #fff;
  cursor: pointer;
  font-size: $h4Size;
  margin: 20px 0px 40px 0px;
  font-weight: bold;

  &:hover {
    transform: scale(1.1);
  }
}

.textFooter {
  margin: 10px 0px;
}

.hh2 {
    font-size: $h2Size !important;
}

.hh3 {
    font-size: $h3Size !important;
}

.footer {
  background-image: url("../../../assets/Backgrounds/Bg_Footer.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Mobile Screen */
@media (max-width: $mobile) {
  .hh2{
    font-size: $h3Size !important;
  }

  .hh3{
    font-size: $h4Size !important;

  }
  
  .more{
    font-size: $h5Size;
  }
}

/* Mudium Screen */

@media (min-width: $tablet) {
  .hh2{
    font-size: $h3Size !important;
  }

  .hh3{
    font-size: $h4Size !important;

  }
}

/* Large Screen */

@media (min-width: $large) {
  .hh2{
    font-size: $h2Size !important;
  }
}