@import "../../../pages/variables";

.heroContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 50px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  width: 90%;
}

.benefits{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.greenWolox {
  color: $greenWolox;
}

.blueWolox {
  color: $blueWolox;
}

.hh1{
  text-align: center;
}

/* Mobile Screen */
@media (max-width: $mobile) {
  .benefits{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}

/* Mudium Screen */

@media (min-width: $tablet) {

}

/* Large Screen */

@media (min-width: $large) {

}