.loginBox {
  font-family: "Arial", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 50, 73, 1);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.pointer {
  cursor: pointer;
}

.loginBox .titleLogin {
  margin: 0 0 30px;
  padding: 0;
  color: #f1eee6;
  text-align: center;
}

.loginBox .userBox {
  position: relative;
}

.loginBox .userBox .inputForm {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #f1eee6;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #f1eee6;
  outline: none;
  background: transparent;
}

.loginBox .userBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #f1eee6;
  pointer-events: none;
  transition: 0.5s;
}

.loginBox .userBox .inputForm:focus ~ label,
.loginBox .userBox .inputForm:valid ~ label {
  top: -20px;
  left: 0px;
  color: #03e9f4;
  font-size: 12px;
}

.loginBox form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.loginBox form a:hover {
  background: #03e9f4;
  color: #f1eee6;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}

.loginBox a .spancito {
  position: absolute;
  display: block;
}

.loginBox a .spancito:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btnAnim1 1s linear infinite;
}

@keyframes btnAnim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.loginBox .spancito:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btnAnim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btnAnim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.loginBox .spancito:nth-child(3) {
  bottom: 0;
  // tight: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btnAnim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btnAnim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.loginBox .spancito:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #30e9f4);
  animation: btnAnim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btnAnim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}






.check {
	-webkit-appearance: none; /*hides the default checkbox*/
	width: 20px;
	height: 20px;
	position: relative;
	transition: 0.10s;
	text-align: center;
	font-weight: 600;
	border-radius: 3px;
	outline: none;
	background-color: white;
  }
  
  .check:checked {
	background-color: #03e9f3;
  }
  
//   .check:before {
// 	content: "✖";
//   }
  .check:checked:before {
	content: "✔";
	font-size: 16px;
	color: white;
  }
  
  .check:hover {
	cursor: pointer; 
	opacity: 0.8;
  }

  .con {
	  display: flex;
	  justify-content: start;
	  align-items: center;
	  flex-direction: row;
	  margin-bottom: 1rem;
	  width: 100%;
  }
  
  .keepSesion{
	color: white;
	margin-left: 10px;
	
  }